<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="google-site-verification" content="5xP3QtzMGtMvX86_AcvLrObk-4G2ZSMAp9IdiFEf6kk" />
    <meta charset="UTF-8">
    <title>API REST</title>
    <link rel="shortcut icon" href={{url_for('static', filename='images/logo.png')}}>
    <link rel="stylesheet" href={{url_for('static', filename='styles/style.css')}}>
</head>
<body>
    <header>
        <a href={{url_for('index')}}><img class="logo" src={{url_for('static', filename='images/logo_completo.png')}} alt="logo"></a>
        <nav>
            <ul class="nav-links">
                <li><a href={{url_for('index')}}>Inicio</a></li>
                <li><a href={{url_for('api_key')}}>Obtener clave</a></li>
                <li><a href={{url_for('examples')}}>Ejemplos</a></li>
                <li><a href={{url_for('documentation')}}>Documentación</a></li>
            </ul>
        </nav>
    </header> 
    <br>
    {% block content %}
    {% endblock %}
    <br>
    <hr>
    <div class="footer">
        <p>
            <a href={{url_for('admin')}} class="link-text" style="padding: 0px 100px;">Administrador</a>
            <a href="https://github.com/JoanFer030/api-rest-imdb" class="link-text" style="padding: 0px 100px;" target="_blank">GitHub</a>
        </p>
    </div>
</body>
</html>
