{% extends "base.html" %}
{% block content %}
<h1 class="pag-titulo">
    <img src={{url_for('static', filename='images/text.png')}} alt="key">
    Documentación
</h1>
<div class="center-content" style="font-size: 14px;">
    <p class="justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum atque, eos dignissimos similique repellendus qui, magnam quas velit omnis obcaecati reprehenderit, eaque possimus distinctio doloribus aspernatur et nam dolorum.
    </p>
    <p class="justify">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste qui expedita aspernatur minus tenetur amet illo iure, temporibus odio, nemo veritatis, optio explicabo eaque assumenda! Omnis quas laudantium fugiat id?
    </p>
    <p class="justify">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste qui expedita aspernatur minus tenetur amet illo iure, temporibus odio, nemo veritatis, optio explicabo eaque assumenda! Omnis quas laudantium fugiat id?
    </p>
    <p class="justify">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste qui expedita aspernatur minus tenetur amet illo iure, temporibus odio, nemo veritatis, optio explicabo eaque assumenda! Omnis quas laudantium fugiat id?
    </p>
</div>
{% endblock %}